$ocean: #5680E9;
$river: #84CEEB;
$lake: #5AB9EA;
$shadow: #C1C8E4;
$purple: #8860D0;
$snow: #FFFAFA;
$danger: #F3165C;

$primary: $lake;
$secondary: $shadow;
$info: $ocean;
$link-color: $purple;
$font-size-base: 0.9rem;
$line-height-base: 1;