// Utility
@import 'stylesheets/utility/_variables.scss';
@import 'stylesheets/utility/_spacing.scss';
@import 'stylesheets/utility/_typography.scss';

// https://reactstrap.github.io/
@import "bootstrap/scss/bootstrap.scss";

// Modules styles
@import 'stylesheets/modules/_alert.scss';
@import 'stylesheets/modules/_button.scss';
@import 'stylesheets/modules/_card.scss';
@import 'stylesheets/modules/_nav.scss';
@import 'stylesheets/modules/_quill.scss';
@import 'stylesheets/modules/_divider.scss';

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Raleway', sans-serif;
  background: $snow;
  height: 100%;
  position: relative;
}

.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 210px; /* height of your footer */
}

// Socials
.footer {
  padding: 40px;
  background: $shadow;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copy-right {
  text-align: center;
  color: $snow;
}
