$ocean: #5680E9;
$river: #84CEEB;
$lake: #5AB9EA;
$shadow: #C1C8E4;
$purple: #8860D0;
$snow: #FFFAFA;

$primary: $lake;
$secondary: $shadow;
$info: $ocean;
$link-color: $purple;

// https://reactstrap.github.io/
@import "bootstrap/scss/bootstrap.scss";

// Button styles
@import 'stylesheets/_button.scss';