.bg-light {
  background: $shadow !important;
}

.nav-link {
  cursor: pointer;
}

.navbar-brand {
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
  color: $snow;

  &:hover {
    color: $purple;
  }
}