.bg-light {
  background: $snow !important;
}

.nav-link {
  cursor: pointer;
}

.navbar-brand {
  cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
  color: $ocean;

  &:hover {
    color: $shadow;
  }
}